@import "~bulma/sass/utilities/initial-variables"
@import "~bulma"

// Config vars
$base-color: #566b78
$font-color: #111111
$post-h2-color: #364e96

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

.full-width-image
    width: 100vw
    height: 100vh
    max-height: 70vh
    background-size: cover
    background-position: center
    display: flex
    justify-content: center
    align-items: center

.margin-top-0
  margin-top: 0 !important

// Footer
footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent
.footer-box
  display: flex
  width: 100%
  justify-content: flex-end
.footer ul
  list-style: none
  display: flex
  padding: 20px
  margin-bottom: 20px
.footer li
  width: 100px
  text-align: center
.footer-text
  color: $base-color

// blog roll
.blog-list-item header
  display: flex
.blog-list-item .title
  font-size: 20px
  color: $base-color
.blog-list-item .date
  font-size: 12px
  color: $base-color
.blog-list-item:hover
  background-color: $base-color
  .title
    color: white
  .date
    color: white

// blog post
.Post
  img
    display: block
    margin: 0 auto
    padding: 20px
  p
    color: $font-color
  h2
    color: $post-h2-color
    padding: 0.5em 0
    border-top: solid 3px $post-h2-color
    border-bottom: solid 3px $post-h2-color
  .description
    padding-top: 1.5em
    padding-bottom: 1.5em
